BASE_URL=http://localhost:3000
VITE_PLUGIN_PWA=false
API_ACCOR_URL=https://api.accor.com
API_ACCOR_MAPS_URL=https://accor.webgeoservices.com/maps/api/search/autocomplete
API_ACCOR_API_KEY=l7xx5b9f4a053aaf43d8bc05bcc266dd8532
GOOGLE_API_KEY=
DATABASE_URL=postgresql://postgres:password@localhost:5432/db